<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>publicKey</key>
	<string>a5e827fd43542f580d65c11c153c802c</string>
	<key>privateKey</key>
	<string>f592048052e53f3a1404b0070f450f596e70e6c2</string>
</dict>
</plist>
